html{
    height: 100%;
}

body {
    margin: 0px;
    min-height: 100%;
}

main {
    margin-left: 20px;
    margin-right: 20px;
}

.navbar ul{
    list-style-type: none;
    background-color: #a88ce5;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}

.navbar a{
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}

.navbar a:hover{
    background-color: #6A3DCD;
}

.navbar_icon li{
    float: left;
}

.navbar_login li{
    float: right;
}

.login {
    margin-top: 17px;
    margin-bottom: 17px;
    background-color: green;
    border-radius: 10px;
}

.logout {
    margin: 17px;
    background-color: red;
    border-radius: 10px;
}

.signup {
    margin: 17px;
    background-color: lightgreen;
    border-radius: 10px;
}

.container {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: absolute;
    height: 90%;
    width: 100%;
}

.home-content{
    margin-top: 100px;
    display: flex;
}

.img-display {
    background-color: #a88ce5;
}