/* Global */
html{
    height: 100%;
    font-family: "Lucida Console";
    color: white;
}

body {
    background-color: #93bce7;
    margin: 0px;
    min-height: 100%;
}

main {
    margin-left: 20px;
    margin-right: 20px;
}

button, label {
    font-family: monospace,monospace;
    font-size: 1em
}

/* Nav Bar */

.navbar ul{
    list-style-type: none;
    background-color: #301b43;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}

.navbar a{
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}

.navbar a:hover{
    background-color: #733fab;
}

.navbar_icon li{
    float: left;
}

.navbar_login li{
    float: right;
}

.login {
    margin-top: 17px;
    margin-bottom: 17px;
    background-color: #553ba3;
    border-radius: 10px;
}

.logout {
    margin: 17px;
    background-color: rgba(255, 0, 0, 0.36);
    border-radius: 10px;
}

.signup {
    margin: 17px;
    background-color: #553ba3;
    border-radius: 10px;
}

/* Content */

.container {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: absolute;
    height: 90%;
    width: 100%;
}

/* Home page */

.home-content{
    margin-top: 100px;
    display: flex;
}

.home-input {
    display: flex;
    background-color: #52399d;
    padding: 10px;
    margin: 10px;
    flex-direction: column;
}

.img-display {
    height: 90%;
    aspect-ratio : 1 / 1;
    background-color: #a88ce5;
    padding: 10px;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.prompt-form {
    display: flex;
    flex-direction: column;
    border: 1px solid rgba(255, 255, 255, 0.53);
    border-radius: 2px;
    padding: 10px;
}

.form-control {
    background-color: white;
    padding: 8px;
    display: flex;
    flex-direction: column;
    border: none;
    border-bottom: 1px solid #ccc;
}

.image-input {
    display: flex;
    flex-direction: column;
}

.run-btn {
    margin: 5px 0px 5px 0px;
    padding: 5px;
    width: 100%;
    background-color: #b157c5;
    border: none;
    color: white;
    text-decoration: none;
}

.run-btn:hover {
    background-color: rgba(177, 87, 197, 0.65);
}

.options-from {
    display: flex;
    flex-direction: column;
    border: 1px solid grey;
    border-radius: 2px;
    padding: 10px;
}

.first_row {
    display: flex;
    flex-direction: row;
    place-items: center center;
    justify-content: space-between;
}

.L_onlyTekst {
    padding-left: 5px;
}

.style_selector {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.slidecontainer {
    width: auto;
    padding: 5px;
}

.slider {
    width: 100%;
}

.second_row {
    display: flex;
    flex-direction: row;
}

.option {
    display: flex;
    flex-direction: column;
    padding: 5px;
}

.option input {
    width: 100px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


#msg {
    background-color: #d53434;
    padding: 5px;
    border: 2px solid black;
    border-radius: 4px;
}