{% extends "base.html" %}

{% block content %}
    <main class="home-content">
        <form method="post" class="home-input">
            <div class="prompt-form">
                <label for="inputText">Prompt</label>
                <input class="form-control" type="text" id="inputText" name="inputText">
                <br/>
                <div class="image-input" id="image">
                    <label for="imageInput">Image</label>
                    <input type="file" id="imageInput" name="imageInput">
                </div>
            </div>

            <button type="submit" id="generate" class="run-btn">Generuj</button>

            <div class="options-from">
                <input type="checkbox" id="onlyText" name="onlyText" onclick="takeImg()">
            </div>
        </form>
        <div class="img-display">
            <span id="result">?</span>
        </div>
    </main>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="{{url_for('static', filename='jquery.js') }}">\x3C/script>')</script>

    <script>
      $SCRIPT_ROOT = {{ request.script_root|tojson }};
    </script>

    <script>
        $(function () {
            $('button#generate').bind('click', function() {
                $.getJSON($SCRIPT_ROOT + '/_generate', {
                    text: $('input[name="inputText"]').val(),
                    image: $('input[name="imageInput"]').val(),
                    onlyText: $('input[name="onlyText"]').val()
                }, function (data) {
                    $("#result").text(data.result);
                });
                return false;
            });
        });
    </script>


    <script>
        function takeImg() {
            var checkBox = document.getElementById("onlyText");
            var imgInput = document.getElementById("image");
            if (checkBox.checked == true) {
                imgInput.style.display = "none";
            } else {
                imgInput.style.display = "flex";
            }
        }
    </script>
{% endblock %}