{% extends "base.html" %}

{% block content %}
    <main class="home-content">
        <div class="home-input">
            <form class="prompt-form">
                <label for="text">Prompt</label>
                <input class="form-control" type="text" id="text">
                <br/>
                <div class="image-input" id="image">
                    <label for="image">Image</label>
                    <input type="file">
                </div>
            </form>

            <button class="run-btn">Run</button>

            <form class="options-from">
                <input type="checkbox" id="onlyText" onclick="takeImg()">
            </form>
        </div>
        <div class="img-display">
            HERE is picture
        </div>
    </main>


    <script>
        function takeImg() {
            var checkBox = document.getElementById("onlyText");
            var imgInput = document.getElementById("image");
            if (checkBox.checked == true) {
                imgInput.style.display = "none";
            } else {
                imgInput.style.display = "flex";
            }
        }
    </script>
{% endblock %}