{% extends "base.html" %}

{% block content %}
    <main class="home-content">
        <form method="post" class="home-input">
            <div class="prompt-form">
                <label for="text">Prompt</label>
                <input class="form-control" type="text" id="inputText" name="inputText">
                <br/>
                <div class="image-input" id="image">
                    <label for="image">Image</label>
                    <input type="file" id="imageInput">
                </div>
            </div>

            <button type="submit" class="run-btn">Generuj</button>

            <div class="options-from">
                <input type="checkbox" id="onlyText" onclick="takeImg()">
            </div>
        </form>
        <div class="img-display">
            HERE is picture
        </div>
    </main>


    <script>
        function takeImg() {
            var checkBox = document.getElementById("onlyText");
            var imgInput = document.getElementById("image");
            if (checkBox.checked == true) {
                imgInput.style.display = "none";
            } else {
                imgInput.style.display = "flex";
            }
        }
    </script>
{% endblock %}